<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <!-- NONE OF THIS STUFF WAS NEEDED WHEN USING SPRINGBOOTAPPLICATION ANNOTATION AND application.properties -->

    <!--<context:annotation-config />
    <context:component-scan base-package="ticket" />-->

    <!-- Initialization for data source -->
    <!--<bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/ticketdb"/>
        <property name="username" value="root"/>
        <property name="password" value=""/>
    </bean>-->

    <!--<bean id="jdbcTicketDAO" class="ticket.dao.impl.JdbcTicketDAO">
        <property name="dataSource" ref="dataSource" />
    </bean>-->

</beans>